<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>error 505</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>Lo sentimos !</h1>
                <h2>Error interno del servidor 500</h2>
                <hr>
                <p>Por favor comuniquese con el administrador.</p>
            </div>
        </div>
    </div>

</body>

</html>